/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import '~ngx-toastr/toastr';




.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}



.title-holder {
    margin-left: 970px;
    margin-bottom: 19px;
  }


  @media(min-width: 992px){
    .page-content-wrapper {
        float: left;
        width: 100%;
    }
        .page-content-wrapper .page-content {
            margin-left: 0px;
            margin-top: 0px;
            min-height: 600px;
            padding: 25px 20px 10px 20px;

        }
    }

.portlet{
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.portlet > .portlet-title{
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 55px;
}
.portlet > .portlet-title > .caption {
    float: left;
    display: block;
    font-size: 18px;
    padding: 10px 0px;
}
.portlet > .portlet-title > .actions {
    
    display: inline-block;
    padding: 6px 0;
}
.portlet > .portlet-body {
  margin-top: 55px;
}




    
  